<!--We must bind the pokemon-table-component.selectedPokemon 
  to the element pokemon property-->

<div class="container-md">
  <table class="table  ">
    <thead>
      <tr>
        <th scope="Name">Pokemon Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage">
        <!-- Click event binding to display pokemon details
      with class binding to change styles for selected pokemon-->
        <td>
          <a routerLink="/detail/{{pokemon.name}}">
             {{pokemon.name | uppercase}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
  


  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="itemsPerPage"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="[5,10,20,30]"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>
  
  
 
  </div>
</div>     
    

 

    
  