

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th {
  background-color: var(--darkblue);
  text-align: left;
  padding: 8px;
  font-weight: bold;
  font-family:'Press Start 2P';
  color: white;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  background-color: var(--lightblue);
  color: white;
}

td:hover {
  background-color: var(--yellow);
}

/* Remove text decoration for links */
a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent element */
}

.pagination{
  display: flex;
  flex-direction: row;
}

.container-md{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



