<!--We must bind the pokemon-table-component.selectedPokemon 
  to the element pokemon property-->

      
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="Name">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage">
        <!-- Click event binding to display pokemon details
      with class binding to change styles for selected pokemon-->
        <td>
          <a routerLink="/detail/{{pokemon.name}}">
             {{pokemon.name | uppercase}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

 

    
  <mat-paginator
  [length]="pokemons.length"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[itemsPerPage]"
  [pageIndex]="currentPage - 1"
  [showFirstLastButtons]="true"
  (page)="currentPage = $event.pageIndex + 1"
  [class]="paginator"
></mat-paginator>