/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
    font-family: "Press Start 2P";
  }
  
  
  .pokemons-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Create a grid with 5 equal-width columns */
    gap: 5px; /* Spacing between the items */
    width: 100%;
  }
  
  .pokemons-menu a {
    text-align: center;
    display: block;
    padding: 2px;
    border: 1px solid #ddd; /* Optional: added for visualization. You can remove this */
  }
  




  .heroes-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  a {
    background-color: var(--lightblue);
    border-radius: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 110px;
    margin: .5rem auto;
    box-sizing: border-box;
    font-family: "Press Start 2P";
    font-size: 10px;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: #000;
  }